@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.inputdiv4 {
  display: flex;
  align-items: center;
  font-family: "Nunito", sans-serif;
}

.inputdiv4 .openModalBtn4 {
  height: 2.5rem;
  border-radius: 5px;
  margin-top: -6rem;
  cursor: pointer;
}

.topup {
  text-align: left;
  margin-top: 4rem;
  margin-right: 4rem;
  position: absolute;
}

.deletecancel {
  display: flex;
  gap: 5rem;
}

.btncancel {
  width: 100px;
  font-size: 20px;
  background: #FFFF;
  color: #8E8E8E;
}

.btndelete {
  width: 100px;
  font-size: 20px;
  background: #204ECF;
  box-shadow: 0px 5px 10px 2px rgba(54, 74, 255, 0.1);
  border-radius: 5px;
}

.bin {
  margin-bottom: 3rem;
  margin-left: 5.5rem;
  width: 2rem;
}

.sure {
  color: black;
}

