.profilesetting {
    margin-top: 2rem;
}

.passwordsetting {
    margin-top: 2rem;
    margin-right: 15.5rem;
}

.privacypolicy {
    margin-top: 5rem;
}

.terms {
    margin-top: 2rem;
}

.logout {
    margin-top: 2rem;
}