.modalBackground6 {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer6 {
    width: 200px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    margin-left: -20rem;
  }
  
  .modalContainer6 .title {
    display: inline-block;
    margin-top: -5px;
  }
  
  .titleCloseBtn6 {
    display: flex;
    justify-content: flex-end;
    margin-right: -1rem;
  }
  
  .titleCloseBtn6 button {
    background-color: #8E8E8E;
    border: none;
    height: 18px;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .modalContainer6 .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }
  
  .modalContainer6 .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer6 .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }

  