@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.form-contain-addshareholder {
  /* justify-items: center;
  margin-left: 29rem;
  margin-top: 5rem; */
}

.register-form-upload-addshare {
  width: 23rem;
  background: #fff;
}

.form-fieldaddshare {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
  width: 107%; 
  border: 1px solid rgba(213, 211, 211, 0.1);
  border-radius: 5px;
  height: 1.5rem;
}

.policy {
    margin-bottom: 2rem;
    margin-top: -1rem;
}

.prfadd{
  margin-bottom: -1rem;
  margin-right: 3rem;
}

.addshare {
  background: #fff;
  position: fixed;
  top: -0.5rem;
  width: 100%;
  overflow: hidden;
}

.phonenumber {
  margin-right: 16rem;
}

.nin {
  margin-right: 7rem;
}



@media screen and (max-width: 1200px) {
    .register-form-upload-addshare {
      padding: 30px;
    }

    .form-contain-addshareholder {
      width: 40px;
    }
    .phonenumber {
      margin-right: 12.5rem;
    }
    .nin {
      margin-right: 3.5rem;
    }
    .btndiv {
      width: 200px;
    }
  
  }
