@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.inputdiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}

.inputdiv .openModalBtn {
  width: 100px;
  height: 2.5rem;
  border-radius: 5px;
  margin-top: -2.5rem;
  margin-left: -0.1rem;
  background-color: #fff;
  cursor: pointer;
}

.today {
  margin-top: 0.5rem;
  text-align: left;
  margin-left: 0.5rem;
}
