.balance {
    height: 8rem;
    width: 21rem;
    margin-top: 7rem;
    margin-left: 1.6rem;
    margin-bottom: 3rem;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    border:1px solid rgba(142, 142, 142, 0.15);
    background-color:rgba(0, 0, 255, 0.123);
}


.walettopup {
    margin-right: 17rem;
    margin-top: 1rem;
}

.waletwithdraw {
    margin-top: -2.5rem;
    position: absolute;
    margin-left: 9.5rem;
    z-index: 1;
}

.waletsend {
    margin-top: -2.5rem;
    margin-left: 17rem;
    position: absolute;
}

.inputselect {
    display: flex;
    margin-top: 8rem;
}

.select {
    margin-left: 5rem;
    width: 7rem;
}

.transaction {
    margin-left: 2rem;
    color: #8E8E8E;
}

.out {
    width: 21rem;
    height: 5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    border:1px solid rgba(142, 142, 142, 0.15);
    margin-left: 1.6rem;
    border-radius: 5px;
}
.in {
    width: 21rem;
    height: 5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    border:1px solid rgba(142, 142, 142, 0.15);
    margin-left: 1.6rem;
    border-radius: 5px;
    margin-top: 1rem;
}

.arrowout {
    margin-top: 1.4rem;
    margin-right: 16rem;
}
.arrowin {
    margin-top: 1.4rem;
    margin-right: 16rem;
}

.topupmodal {
    position: absolute;
    margin-right: 6rem;
}


