.navcontain {
    background: #FFFFFF;
    border: 1px solid rgba(212, 211, 211, 0.5);
    display: flex;
    justify-content:center;
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    position: fixed;
    top: -0.5rem;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .navcontain {
        position: fixed;
    }
}