.container-workexperience2 {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    margin-top: 12rem;
  }
  
  .form-fieldx {
      margin: 10px 0 10px 0;
      padding: 15px;
      font-size: 16px;
      border: 0;
      font-family: "Roboto", sans-serif;
      width: 100%;
      background-color: #F3F5F7;
    }
    
    .fom-work-experience2 {
      background: white;
      padding-right: 1rem;
      padding-left: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      width: 23rem;
      padding-bottom: 3rem;
      padding-left: 1.3rem;
      margin-top: -8rem;
      height: 60rem;
    }

    .tellusheadworkx2 {
      background: #fff;
      position: fixed;
      top: -8rem;
      width: 28%;
      overflow: hidden;
    }

    .carddivwrkx {
        background: #FFFFFF;
        border-radius: 10px;
        height: 237px;
        border: 1px solid rgba(212, 211, 211, 0.5);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    }

    .newx {
        margin-top: 2rem;
        margin-right: 8rem;
        color: #204ECF;
        font-size: 23px;
    }

    .de {
        position: absolute;
        display: flex;
        gap: 10rem;
        margin-left: 1.5rem;
        margin-top: 1rem;
    }

    .hr {
        position: relative;
        margin-top: 11rem;
    }

    .del {
        margin-top: 2.5rem;
    }

    @media screen and (max-width: 1200px) {
      .tellusheadworkx2 {
        width: 23rem;
      }
    }
  